.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/login-page-background.png);
}

.login-page__form-wrap {
  margin: 0 auto;
  padding: 40px 56px 52px;
  width: 428px;
  background: #fff;
  border-radius: 16px;
}

.login-page__inputs-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 36px 0 12px;
}
