.login-page {
  position: relative;
  min-width: 100%;
  /*height: calc(100vh - 90px); !* высота футера 90px *!*/
  height: 100vh; /* высота футера 90px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page__form-wrap {
  margin: 0 auto;
  padding: 40px 56px 52px;
  width: 428px;
  background: #fff;
  border-radius: 16px;
}

.login-page__inputs-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 36px 0 12px;
}
