.section {
  width: 1440px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 28px 58px 40px 58px;
  box-sizing: border-box;
  justify-content: space-between;
}

.breadcrumbs {
  margin-bottom: 24px;
}
