.delete {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  gap: 3px;
}

.delete:hover {
  opacity: 50%;
}

.delete__text {
  color: #1A1B22;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.delete__icon {
  width: 16px;
  height: 16px;
}
