.profile {
  display: flex;
  gap: 14px;
}

.profile__profession {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.profile__name {
  color: #797981;
  font-size: 13px;
  margin: 0;
}

.chips {
  display: flex;
  gap: 8px
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact {
  display: flex;
  gap: 6px;
}

.contact__text {
  font-size: 13px;
  margin: 0;
}
