.profile {
  display: flex;
  gap: 14px;
}
.profile__avatar {
  width: 44px;
  height: 44px;
  padding: 0 4px;
  border-radius: 10000px;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.profile__profession {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.profile__name {
  color: #797981;
  font-size: 13px;
  margin: 0;
}

.chips {
  display: flex;
  gap: 8px
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact {
  display: flex;
  gap: 6px;
}

.contact__text {
  font-size: 13px;
  margin: 0;
}

.checkbox {
  width: 20px;
  height: 20px
}

.like__icon {
  width: 24px;
  height: 24px;
  padding: 0;
  background-size: 24px 24px;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
}

.table__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  align-items: center;
}

.selected {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.table__buttons {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
}

.table__top {
  display: flex;
  gap: 20px;
  padding-bottom: 44px;
}

.download-icon {
  padding-right: 8px;
}
